<ng2-slim-loading-bar color="blue">
</ng2-slim-loading-bar>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a routerLink="/home" class="nav-item nav-link ">home</a>
            <a routerLink="addIssue" class="nav-item nav-link ">+Issue</a>
            <a routerLink="issue" class="nav-item nav-link ">Display Issues</a>
            <a routerLink="user" class="nav-item nav-link ">Display Users</a>
            <a routerLink="addProject" class="nav-item nav-link ">+Project</a>
        </div>
    </div>
</nav>


<div class="container">
    <router-outlet>
    </router-outlet>
</div>
