<div class="container py-5">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="alert alert-danger" *ngIf="errorMsg">
                        {{errorMsg}}
                    </div>
                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" autocomplete="off" #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label for="uname1">Username</label>
                                    <input [(ngModel)]="loginData.uname" name="uname" [class.is-invalid]="uname.invalid && uname.touched" #uname="ngModel" type="text" class="form-control rounded-0" required>
                                    <small class="text-danger" [class.d-none]="uname.valid || uname.untouched">User name is required</small>

                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input [(ngModel)]="loginData.password" name="password" [class.is-invalid]="password.invalid && password.touched" #password="ngModel" type="password" class="form-control rounded-0" required>
                                    <small class="text-danger" [class.d-none]="password.valid || password.untouched">User name is required</small>

                                </div>

                                <button type="submit" class="btn btn-success btn" (click)="login()">Login</button>
                                <a routerLink="/addUser" routerLinkActive="active" class="float-right">Créer un compte</a>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->
